rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    
    // Allow public read access to all files
    match /{allPaths=**} {
      allow read: if true;
    }

    // Allow authenticated users to write to the 'company-assets' directory
    match /company-assets/{fileName} {
      allow write: if request.auth != null;
    }
  }
}
